<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">This is MVP Sale Site</h1>
      <p class="lead">You can join as membership user and get amazing sale every day at 10 AM</p>
      <hr class="my-4">
      <p>Login to see current active deals</p>
      <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>