<h1 class="text-center mt-4">Today's Deal</h1>


<div class="flickr_pagination">
    <%= will_paginate @deals, :container => false %>
</div>

<%= render 'deal' %>

<div class="flickr_pagination mb-4">
    <%= will_paginate @deals, :container => false %>
</div>